body {
    font-family: 'Open Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
  }
  
  .seccion-clara {
    color: black;
    background-color: white;
  }

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

.seccion-texto {
    font-size: 1.2rem;
}

.btn-light { 
    font-size: 1.1rem;
    margin:20px;
}

.navbar {
    padding: 2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.hero {
    min-height: 450px;
    text-align: center;
    background-image: url("./images/background.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-principal { 
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
}

.sobre-mi {
    height:600px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.sobre-mi-imagen {
    width: 200px;
    height: 200px;
    margin: 20px;
  }

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.6s ease-in-out;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.6s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: white;
    font-size: 40px;
    margin:10px;
}

.proyecto {
     position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;
}

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 29px;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto button { 
    color: black;
    background-color: transparent;
    padding: 1em;
    margin:10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    color: white;
    background-color: black;
}

footer {
    min-height: 500px;
}

.iconos-rrss {
    font-size: 1.2rem;
    text-transform: uppercase;

}

.iconos-rrss a{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
     margin: 20px;
     border: 1px solid black;
     color: black;
     text-decoration: none;
     border-radius: 5px;
     transition: all 0.2s ease-in-out;
}

.iconos-rrss i {
    margin-right: 10px;

}

.iconos-rrss a:hover {
    color: white;
    background-color: black;
}

.dda {
    padding: 20px;
    font-size: 15px;
}

@media (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 20px;
    }
}